* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.country-div {
  background-color: aqua;
  margin: 10px 0;
}

.country-div:hover {
  cursor: pointer;
}
